<section class="vh-100">
  <div class="container-fluid login-container">
    <div class="login-form">
      <form>
        <div class="text-center mb-4">
          <h1 class="h3 mb-3 font-weight-normal">Log in</h1>
        </div>

        <div class="form-outline mb-4">
          <input type="email" id="form3Example3" class="form-control form-control-lg" placeholder="Enter email">
        </div>

        <div class="form-outline mb-4">
          <input type="password" id="form3Example4" class="form-control form-control-lg" placeholder="Password">
        </div>

        <div class="form-check mb-4">
          <input class="form-check-input" type="checkbox" value="" id="form2Example3">
          <label class="form-check-label" for="form2Example3"> Remember me </label>
        </div>

        <button class="btn btn-lg btn-dark btn-block" type="submit">Login</button>

        <p class="mt-5 mb-3 text-muted text-center">Don't have an account? <a href="/signup" class="link-danger">Sign Up</a></p>
      </form>
    </div>
  </div>
</section>
