<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Table</title>
    <!-- Bootstrap CSS -->
    <link id="theme-link" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Dark theme custom styles -->
    <link href="/css/style.css" rel="stylesheet">
    <link rel="icon" href="data:,">
</head>
<body class="dark-mode">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark dark-mode">
    <a class="navbar-brand" href="index">NTTRAMA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="customers">Customers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="artists">Artists</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="movies">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="sessions">Sessions</a>
            </li>
        </ul>
        <!-- Dark Mode Toggle Button -->
        <button id="theme-toggle-btn" class="btn btn-primary">Switch Mode</button>
        <!-- Search form -->
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 dark-mode" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container-fluid my-4 table-responsive">
    <h1>Artist Table</h1>
    <button type="submit" class="btn btn-primary divButton">Add Artist</button>
    <table id="customer-table" class="table table-dark table-striped">
        <!-- Table headers -->
        <thead>
        <tr>
            <th>ID</th>
            <th>Added Date</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birthdate</th>
            <th>Type</th>
            <th>Nationality</th>
            <th>Photo</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <!-- Table rows -->
        <tr th:each="artist : ${artists}">
            <td class="artist-id" th:text="${artist.id}"></td>
            <td th:text="${artist.added_date}"></td>
            <td class="artist-firstname" th:text="${artist.firstName}"></td>
            <td class="artist-lastname" th:text="${artist.lastName}"></td>
            <td class="artist-birthdate" th:text="${artist.birthdate}"></td>
            <td class="artist-type" th:text="${artist.artistType}"></td>
            <td th:text="${artist.nationality.getCountry_name()}"></td>
<!--            <td class="artist-photo" th:text="${artist.photo}"></td>-->
            <td class="artist-photo">
                <img th:if="${artist.photo != null}" th:src="@{'/artist-img/' + ${artist.photo}}" alt="Artist Photo" style="max-width: 100px;">
            </td>

            <td>
                <button class="btn btn-primary editButton">Edit</button>
            </td>
            <td>
                <form th:action="@{'/artists/' + ${artist.id}}" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<div class = "addDiv hide">
    <form th:action="@{'/artists'}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="hidden" class="form-control" id="id" name="id">
        </div>
        <div class="form-group">
            <label for="firstname">First Name:</label>
            <input type="text" class="form-control" id="firstname" name="firstName" required>
        </div>
        <div class="form-group">
            <label for="lastname">Last Name:</label>
            <input type="text" class="form-control" id="lastname" name="lastName" required>
        </div>
        <div class="form-group" id="birthdateLabel">
            <label for="birthdate">Birthdate:</label>
            <input type="date" class="form-control" id="birthdate" name="birthdate" required>
        </div>
        <div class="form-group">
            <label for="type">Type:</label>
            <select class="form-control" id="type" name="artistType" required>
                <option value="ACTOR">Actor</option>
                <option value="DIRECTOR">Director</option>
            </select>
        </div>
        <div class="form-group" id="nationalityLabel">
            <label for="nationality">Nationality:</label>
            <select class="form-control" id="nationality" name="nationality" required>
                <option th:each="nationality : ${nationalities}" th:value="${nationality.id}" th:text="${nationality.country_name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="photo">Photo:</label>
            <input type="file" class="form-control" id="photo" name="image" required>
        </div>
        <button type="submit" class="btn btn-primary confirmButton">Confirm</button>
        <button type="button" class="btn btn-danger cancelButton">Cancel</button>
    </form>
</div>

<div class="overlay hide"></div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/artist-script.js"></script>

</body>
</html>