<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Table</title>
    <!-- Bootstrap CSS -->
    <link id="theme-link" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Dark theme custom styles -->
    <link href="/css/style.css" rel="stylesheet">
    <link rel="icon" href="data:,">
</head>
<body class="dark-mode">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark dark-mode">
    <a class="navbar-brand" href="index">NTTRAMA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="customers">Customers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="artists">Artists</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="films">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="sessions">Sessions</a>
            </li>
        </ul>
        <!-- Dark Mode Toggle Button -->
        <button id="theme-toggle-btn" class="btn btn-primary">Switch Mode</button>
        <!-- Search form -->
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 dark-mode" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<!-- Main content -->
<div class="container mt-4">
    <h1>Customer Table</h1>
    <table id="customer-table" class="table table-dark table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Added Date</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${customers}">
            <td class="customer-id" th:text="${customer.id}" ></td>
            <td th:text="${customer.added_date}"></td>
            <td class="customer-email" th:text="${customer.email}"></td>
            <td class="customer-firstname" th:text="${customer.firstname}"></td>
            <td class="customer-lastname"  th:text="${customer.lastname}"></td>
            <td>
                <button class="btn btn-primary editButton">Edit</button>
            </td>
            <td>
                <form th:action="@{'/' + ${customer.id}}" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>

        </tbody>
    </table>
    <button type="submit" class="btn btn-primary divButton">Add Customer</button>
</div>

<div class = "addDiv hide">
    <form th:action="@{'/customers'}" method="post">
        <div class="form-group">
            <input type="hidden" class="form-control" id="id" name="id">
        </div>
        <div class="form-group">
            <label for="firstname">First Name:</label>
            <input type="text" class="form-control" id="firstname" name="firstname" required>
        </div>
        <div class="form-group">
            <label for="lastname">Last Name:</label>
            <input type="text" class="form-control" id="lastname" name="lastname" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group" id="passLabel">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary confirmButton">Confirm</button>
        <button type="button" class="btn btn-danger cancelButton">Cancel</button>
    </form>
</div>
<div class="overlay hide"></div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>

</body>
</html>