<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Table</title>
    <!-- Bootstrap CSS -->
    <link id="theme-link" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Dark theme custom styles -->
    <link href="/css/style.css" rel="stylesheet">
    <link rel="icon" href="data:,">
</head>
<body class="dark-mode">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark dark-mode">
    <a class="navbar-brand" href="index">NTTRAMA - Media Table</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="customers">Customers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="artists">Artists</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="films">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="movie-sessions">Sessions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="movie-rooms">Rooms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="medias">Medias</a>
            </li>
        </ul>
        <!-- Dark Mode Toggle Button -->
        <button id="theme-toggle-btn" class="btn btn-primary">Switch Mode</button>
        <!-- Search form -->
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 dark-mode" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container-fluid my-4 table-responsive">
    <button type="submit" class="btn btn-primary divButton">Add Media</button>
    <table id="customer-table" class="table table-dark table-striped">
        <!-- Table headers -->
        <thead>
        <tr>
            <th>ID</th>
            <th>Added Date</th>
            <th>Movie</th>
            <th>Video</th>
            <th>Photos</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <!-- Table rows -->
        <tr th:each="media : ${medias}">
            <td class="media-id" th:text="${media.id}"></td>
            <td th:text="${media.added_date}"></td>
            <td class="movie-photo">
                <img th:src="@{'/film-img/' + ${media.film.photo}}" alt="Film Photo" style="max-width: 100px;">
            </td>
            <td class="movie-video" th:text="${media.video}"></td>
            <td class="media-photos">
                <div th:each="photo : ${media.photoList}">
                    <img th:src="@{/media-img/{filename}(filename=${photo})}" alt="Photo" style="max-width: 100px";/>
                </div>
            <td>
                <button class="btn btn-primary editButton">Edit</button>
            </td>
            <td>
                <form th:action="@{'/medias/' + ${media.id}}" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<div class = "addDiv hide">
    <form th:action="@{'/medias'}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="hidden" class="form-control" id="id" name="id">
        </div>
        <div class="form-group">
            <label for="title">Movie Title:</label>
            <select class="form-control" id="title" name="film" required>
                <option th:each="film : ${films}" th:value="${film.id}" th:text="${film.title}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="video">Trailer:</label>
            <input type="text" class="form-control" id="video" name="video" required>
        </div>
        <div class="form-group">
            <label for="photoOne">Photo 1:</label>
            <input type="file" class="form-control-file" id="photoOne" name="photos" required>
        </div>
        <div class="form-group">
            <label for="photoTwo">Photo 2:</label>
            <input type="file" class="form-control-file" id="photoTwo" name="photos" required>
        </div>
        <div class="form-group">
            <label for="photoThree">Photo 3:</label>
            <input type="file" class="form-control-file" id="photoThree" name="photos" required>
        </div>
        <div class="form-group">
            <label for="photoFour">Photo 4:</label>
            <input type="file" class="form-control-file" id="photoFour" name="photos" required>
        </div>

        <button type="submit" class="btn btn-primary confirmButton">Confirm</button>
        <button type="button" class="btn btn-danger cancelButton">Cancel</button>
    </form>
</div>

<div class="overlay hide"></div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/media-script.js"></script>

</body>
</html>