<div class="body">
  <div *ngIf="movie" class="movie-details-container">
    <div class="movie-title">{{ movie.title }}</div>
    <div class="movie-content">
      <div class="movie-image" [style.background-image]="'url(' + movie.imageUrl + ')'"></div>
      <div class="movie-info">
        <p><strong>Genre:</strong> {{ movie.genre }}</p>
        <p><strong>Director:</strong> {{ movie.director }}</p>
        <p><strong>Year:</strong> {{ movie.year }}</p>
        <p><strong>Description:</strong> {{ movie.description }}</p>
        <button class="watch-trailer-btn">Watch Trailer</button>
      </div>
    </div>
  </div>
  <div *ngIf="!movie" class="loading-message">Loading...</div>
</div>
